<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>178330551358-p3rnil9213s3kpu9g6sbbfha14laln3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178330551358-p3rnil9213s3kpu9g6sbbfha14laln3o</string>
	<key>API_KEY</key>
	<string>AIzaSyCoqLXen7Z5y-ZSXvHLB-blD1aFQT7-Mh0</string>
	<key>GCM_SENDER_ID</key>
	<string>178330551358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Do.This.App.For-Sell</string>
	<key>PROJECT_ID</key>
	<string>for-sell-c8816</string>
	<key>STORAGE_BUCKET</key>
	<string>for-sell-c8816.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178330551358:ios:c916edabd1cde131</string>
	<key>DATABASE_URL</key>
	<string>https://for-sell-c8816.firebaseio.com</string>
</dict>
</plist>